.flex-box-container-1{
    display:flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-box-container-1 div{
    display: flex;
    padding:10px;
    align-items: center;
    margin-top: 300px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-top: 20px;
}


#flex-box-result{
    margin-bottom: 200px;
    margin-top: 200px;
}


