h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-box-container-1 div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.flex-box-container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.flex-box-container-2 img{
    box-shadow: 0px 10px 30px rgba(0,0,0,7);
    margin: 20px;
}